@charset "UTF-8";
@import url("style.css");
body > main > section:nth-child(2) > form > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 0.5rem ;
    
}
body > main > section:nth-child(2) > form > div > label{
    margin-top: 0.5rem;
}

